body {
	background: #151515;
	color: #C6C9D1;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
}

.slider {
  filter: invert(75%) hue-rotate(180deg);
}

#fillArea {
  border: solid gray 1px;
}